<!DOCTYPE html>
<html lang="<%= lang %>">
<head>
  <%- include('includes/head') %>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
<%- include('includes/header') %>

<div class="chat-layout">

  <!-- vedeo counciling-->
  <div class="vedeo-counceling">
    <h1>vedeo-counceling</h1>

    <form action="/video-counseling" method="POST">
        <select name="counselorId" required>
            <option value="">Select counselor</option>
            <% counselors.forEach(c => { %>
            <option value="<%= c.id %>"><%= c.username %></option>
            <% }) %>
        </select>
        <button class="btn">Start Vedeo Counceling</button>
    </form>


    <h3>Online Users</h3>
    <ul id="online-users-list"></ul>
  </div>